.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2vw;
  }
  
  .transaction-form input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .transaction-form button {
    padding: 10px;
    background-color: #2e86de;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .transaction-form button:hover {
    background-color: #1b4f72;
  }
  
  .form-header {
    background-color:aliceblue;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }